# Empty file
whitelist.json
banned-ips.json

# Log file
*.log
logs/

# User privacy files
banned-players.json
usernamecache.json
usercache.json

# Server config files
commands.yml
eula.txt
help.yml
permissions.yml

# Lib files
libraries/

# VSCode
.vscode/